---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
<<<<<<< HEAD
import LikeCounter from '../../components/likes/LikeCounter.vue';

export const prerender = true;

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
=======
import { render } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
>>>>>>> ba94768611a2cf2a7f4a3c16d72c726a9b51bf61
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
<<<<<<< HEAD
const { Content } = await post.render();
---

<BlogPost {...post.data}>
  <div style={{
    height: '50px'}}>
    <!-- ? Aqui enviamos a Vue la informacion que necesita para buscar el  -->
    <LikeCounter postId={post.id} client:only="vue"/>
    
  </div>
  <Content />
</BlogPost>


=======
const { Content } = await render(post);
---

<BlogPost {...post.data}>
	<Content />
</BlogPost>
>>>>>>> ba94768611a2cf2a7f4a3c16d72c726a9b51bf61
